body {
    background-image: url("wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    cursor: url("Cursor.cur"), pointer;
}


header {
    text-align: center;
    text-decoration: none;
}
h1{
    color: rgb(22, 119, 22);
}

button {
    border: transparent;
    background-color: transparent; 
    box-shadow: transparent;
}
.bonus {
    background-color: rgba(255, 255, 255, 0.342); 
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.bonus2 {
    background-color: rgba(255, 255, 255, 0.342); 
    position: absolute;
    top: 50%;
    left: 1100%;
    transform: translateY(-50%);
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: ridge;
    border-radius: 5px;
    border-color: transparent;
}


footer {
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
#main-image{
    margin-top: 60%;
    height: 400px;
}
p,h1 {
    color: yellow;
    background: linear-gradient(to bottom, yellow 0%, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }